*~
\#*#
.#*
.DS_Store
*.swp
*.a
*.o
*.so
*.dSYM
*.pyc
__pycache__
# core

*.csv
*.out
*.gz

*.pdf
*.log
*.bbl
*.blg
*.aux

/deps
/charm++_smp
/mpi_openmp_kmp

legion_prof

legion_defines.h
realm_defines.h
cached_legion.h

*charmrun.*

# dask
*.lock
worker-*